<div class="container-fluid small-question">
    <div class="row">
        <div class="col-xs-4 counters">
            <div class="answers">
                <div class="question-counters">
                    <%- question._answers.length %>
                </div>
                <div class="question-counters-text">
                    respostas
                </div>
            </div>
            <div class="views">
                <div class="question-counters">
                    <%- 0 %>
                </div>
                <div class="question-counters-text">
                    visualizações
                </div>
            </div>
            <div class="votes">
                <div class="question-counters">
                    <%- question.upVotes + question.downVotes %>
                </div>
                <div class="question-counters-text">
                    votos
                </div>
            </div>
        </div>
        <div class="col-xs-8 summary">
            <div class="summary-text">
                <% if(question.vest !== undefined) {%>
                    <a href="#" id="<%-'questionvest-' + question._vestibular %>" type="button" class="btn btn-primary btn-xs"><%- question._vestibular %></a>
                <% } %>
                <a id="question-<%- question._id %>" href="#"><%- question.title %></a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 tags">
                        <div class="pull-left">
                            <% if($.isArray(question._tags)) { %>
                                <% question._tags.forEach(function(tag) { %>
                                    <a id="question-<%- question._id %>-tag-<%- tag %>" href="#" type="button" class="tag"><%- tag %></a>
                                <% }); %>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-xs-6 summary-user-info">
                        <div class="pull-right">
                            <%- formatTimeStamp(question.updated_at) %>
                            <a href="#"><%- question._creator %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>