<div class="container-fluid small-question">
    <div class="row">
        <div class="col-xs-4 counters">
            <div class="answers">
                <div class="question-counters">
                    <%- question._answers.length %>
                </div>
                <div class="question-counters-text">
                    respostas
                </div>
            </div>
            <div class="views">
                <div class="question-counters">
                    <%- question.views === undefined ? 0 : question.views %>
                </div>
                <div class="question-counters-text">
                    visualizações
                </div>
            </div>
            <div class="votes">
                <div class="question-counters">
                    <%- question.upVotes + question.downVotes %>
                </div>
                <div class="question-counters-text">
                    votos
                </div>
            </div>
        </div>
        <div class="col-xs-8 summary">
            <div class="summary-text">
                <% if(question._vestibular !== undefined) {%>
                    <a href="#" id="<%-'questionvest-' + question._vestibular._id %>" type="button" class="btn btn-primary btn-xs"><%- question._vestibular.name %></a>
                <% } %>
                <a id="question-<%- question._id %>" href="#"><%- question.title %></a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 tags">
                        <div class="pull-left">
                            <% if($.isArray(question._tags)) { %>
                                <% question._tags.forEach(function(tag) { %>
                                    <a id="question-<%- question._id %>-tag-<%- tag._id %>" href="#" type="button" class="tag"><%- tag.name %></a>
                                <% }); %>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-xs-6 summary-user-info">
                        <div class="pull-right">
                            <%- question.updated_at %>
                            <a href="#"><%- question._creator.name %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>